In [1]:
import pandas as pd

In [2]:
snl = pd.read_csv('database/snldb/db/snl_title.csv')
snl.head()

,sid,eid,tid,title,titleType
0,3,20,1978052013,"""Space is the Place"", ""Space-Loneliness""",Musical Performance
1,2,21,1977051416,NaN,Goodnights
2,3,18,1978042215,NaN,Goodnights
3,3,20,1978052014,NaN,Goodnights
4,3,18,1978042214,Next Week In Review,Show

In [37]:
episodes = pd.read_csv('database/snldb/db/snl_episode.csv', parse_dates=["aired"])
episodes.head()

   sid  eid  year      aired
0    3   20  1977 1978-05-20
1    3   19  1977 1978-05-13
2    3   18  1977 1978-04-22
3    2   21  1976 1977-05-14
4    2   22  1976 1977-05-21

In [38]:
seasons = pd.read_csv('database/snldb/db/snl_season.csv')
seasons.head()

   sid  year
0    1  1975
1    2  1976
2    3  1977
3    4  1978
4    5  1979

##     compute the sketches of the season with year 1978

The condition for selecting the rows is a single equality

In [39]:
y1978 = pd.merge(seasons[seasons["year"] == 1978], snl, on="sid")
y1978

,sid,year,eid,tid,title,titleType
0,4,1978,19,1979051915,NaN,Goodnights
1,4,1978,20,1979052614,NaN,Guest Performance
2,4,1978,18,1979051212,NaN,Goodnights
3,4,1978,17,1979041412,NaN,Goodnights
4,4,1978,17,1979041411,September Song,Miscellaneous
5,4,1978,17,1979041410,"""Times Square""",Musical Performance
6,4,1978,17,197904149,Milton's Writers,Miscellaneous
7,4,1978,17,197904147,On The Spot,Show
8,4,1978,17,197904148,Farbers Retirement Home,Sketch
9,4,1978,17,197904146,The Launching Pad,Sketch
10,4,1978,17,197904145,NaN,Weekend Update
11,4,1978,17,197904144,Rock Concert,Show
12,4,1978,17,197904143,The Widettes,Sketch
13,4,1978,17,197904142,NaN,Monologue
14,4,1978,18,1979051210,"""Millworker""",Musical Performance
15,4,1978,17,197904141,Texaco Star Theatre,Cold Opening
16,4,1978,18,1979051211,Snyder Mother's Day,Sketch
17,4,1978,18,197905129,The Mr. Bill Show,Film
18,4,1978,18,197905127,"""Up on the Roof""",Musical Performance
19,4,1978,18,197905128,Boulevard Of Proud Chicano Cars,Sketch
20,4,1978,18,197905121,The Gary Coleman Plan,Cold Opening
21,4,1978,18,197905125,Magna-Gro,Commercial
22,4,1978,19,1979051914,The Mr. Bill Show,Film
23,4,1978,18,197905123,"""Johnnie Comes Back""",Musical Performance
24,4,1978,18,197905122,NaN,Monologue
25,4,1978,19,1979051913,Candy Store,Sketch
26,4,1978,19,1979051912,"""The Married Man""",Musical Performance
27,4,1978,19,1979051910,Black Perspective,Show
28,4,1978,19,197905197,Mother & Daughter,Sketch
29,4,1978,19,1979051911,Veterans Of Foreign Hairdos,Commercial
...,...,...,...,...,...,...
214,4,1978,11,1979021014,Litella-Vision,Show
215,4,1978,11,1979021010,Black Perspective,Show
216,4,1978,11,197902109,Nick Rails,Sketch
217,4,1978,11,197902107,Frontier Midwife,Show
218,4,1978,11,197902108,NaN,Weekend Update
219,4,1978,11,197902106,"""Take Me To The River""",Musical Performance
220,4,1978,11,197902103,Elvis Presley's Coat,Commercial
221,4,1978,11,197902104,The Widettes,Sketch
222,4,1978,11,197902105,The Shah's Final Days,Sketch
223,4,1978,11,197902101,Locker Room,Cold Opening
224,4,1978,11,197902102,NaN,Monologue
225,4,1978,14,197903106,NaN,Weekend Update
226,4,1978,14,197903108,Schiller's Reel,Film
227,4,1978,14,197903105,Women's Problems,Show
228,4,1978,14,197903107,Unsung Heroes of Rock 'n Roll,Sketch
229,4,1978,14,197903104,"""Low Down Blues"", ""I'm Just Simply Full Of Jaz...",Musical Performance
230,4,1978,15,1979031710,Men's Problems,Show
231,4,1978,15,197903179,The Franken and Davis Show,Show
232,4,1978,15,197903178,Lois Lane,Sketch
233,4,1978,14,197903102,NaN,Monologue
234,4,1978,15,1979031711,"""Morning Dew""",Musical Performance
235,4,1978,14,197903101,Backstage,Cold Opening
236,4,1978,15,1979031712,The Mr. Bill Show,Film
237,4,1978,15,197903175,"""If I Had Maggie in the Woods""",Musical Performance
238,4,1978,15,197903177,NaN,Weekend Update
239,4,1978,15,197903176,St. Mickey's Knights of Columbus,Sketch
240,4,1978,15,197903173,The Navy,Commercial
241,4,1978,15,197903172,NaN,Monologue
242,4,1978,15,197903174,Fred Garvin: Male Prostitute,Sketch
243,4,1978,15,197903171,Chicago,Cold Opening

##     compute the sketches of the seasons with year 1978-1982

In this case the condition of the selection is more complex and requires the conjuction of two different conditions.
The precedence order betweeen operators implies that we have to use the parenthesis.

In [40]:
years = seasons[(seasons["year"] >= 1978) & (seasons["year"] <= 1982)]
years

   sid  year
3    4  1978
4    5  1979
5    6  1980
6    7  1981
7    8  1982

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [41]:
pd.merge(years, snl, on="sid")

,sid,year,eid,tid,title,titleType
0,4,1978,19,1979051915,NaN,Goodnights
1,4,1978,20,1979052614,NaN,Guest Performance
2,4,1978,18,1979051212,NaN,Goodnights
3,4,1978,17,1979041412,NaN,Goodnights
4,4,1978,17,1979041411,September Song,Miscellaneous
5,4,1978,17,1979041410,"""Times Square""",Musical Performance
6,4,1978,17,197904149,Milton's Writers,Miscellaneous
7,4,1978,17,197904147,On The Spot,Show
8,4,1978,17,197904148,Farbers Retirement Home,Sketch
9,4,1978,17,197904146,The Launching Pad,Sketch
10,4,1978,17,197904145,NaN,Weekend Update
11,4,1978,17,197904144,Rock Concert,Show
12,4,1978,17,197904143,The Widettes,Sketch
13,4,1978,17,197904142,NaN,Monologue
14,4,1978,18,1979051210,"""Millworker""",Musical Performance
15,4,1978,17,197904141,Texaco Star Theatre,Cold Opening
16,4,1978,18,1979051211,Snyder Mother's Day,Sketch
17,4,1978,18,197905129,The Mr. Bill Show,Film
18,4,1978,18,197905127,"""Up on the Roof""",Musical Performance
19,4,1978,18,197905128,Boulevard Of Proud Chicano Cars,Sketch
20,4,1978,18,197905121,The Gary Coleman Plan,Cold Opening
21,4,1978,18,197905125,Magna-Gro,Commercial
22,4,1978,19,1979051914,The Mr. Bill Show,Film
23,4,1978,18,197905123,"""Johnnie Comes Back""",Musical Performance
24,4,1978,18,197905122,NaN,Monologue
25,4,1978,19,1979051913,Candy Store,Sketch
26,4,1978,19,1979051912,"""The Married Man""",Musical Performance
27,4,1978,19,1979051910,Black Perspective,Show
28,4,1978,19,197905197,Mother & Daughter,Sketch
29,4,1978,19,1979051911,Veterans Of Foreign Hairdos,Commercial
...,...,...,...,...,...,...
1368,8,1982,12,198302054,Whiners,Sketch
1369,8,1982,12,198302051,Live,Cold Opening
1370,8,1982,14,1983022612,Guy Crazy,Musical Sketch
1371,8,1982,14,1983022611,"""Real Emotional Girl""",Musical Performance
1372,8,1982,14,1983022610,Saundra's House of Massage,Sketch
1373,8,1982,14,198302269,Battered Husband,Sketch
1374,8,1982,14,198302266,"""I Love L.A.""",Musical Performance
1375,8,1982,14,198302267,NaN,Saturday Night News
1376,8,1982,14,198302265,Rick's Cafe,Sketch
1377,8,1982,14,198302264,Pimple,Sketch
1378,8,1982,14,198302263,Texxon,Commercial
1379,8,1982,14,198302261,Childhood Stories,Cold Opening
1380,8,1982,14,198302262,NaN,Monologue
1381,8,1982,15,1983031217,Songwriters,Sketch
1382,8,1982,15,1983031216,"""When You Wish Upon A Star"", ""I Ain't Got Nobody""",Musical Performance
1383,8,1982,15,1983031214,Old Chinaman Beer,Commercial
1384,8,1982,15,1983031215,Jerry Lewis School of Manners,Sketch
1385,8,1982,15,1983031213,Veggie Burgers,Sketch
1386,8,1982,15,1983031212,Old Negro Beer,Commercial
1387,8,1982,15,1983031211,Old Jew Beer,Commercial
1388,8,1982,15,1983031210,Gumbys,Miscellaneous
1389,8,1982,15,198303127,"""Sweet Sue""",Musical Performance
1390,8,1982,15,198303129,NaN,Saturday Night News
1391,8,1982,15,198303126,The Home For Disgusting Practices,Sketch
1392,8,1982,15,198303125,Special Report,Miscellaneous
1393,8,1982,15,198303128,The Buckwheat Story,Commercial
1394,8,1982,15,198303124,Donny & Marie St. Patrick's Day Special,Show
1395,8,1982,15,198303122,NaN,Monologue
1396,8,1982,15,198303123,Buckwheat Jeans,Commercial
1397,8,1982,15,198303121,Backstage,Cold Opening

##     compute the sketches aired in 1978 (consider the table snl_episode.csv)

First we merge the episodes with the snl dataframe, so that we have the air date of each sketch.

In [42]:
all = pd.merge(snl, episodes, on=("sid", "eid"))
all.head()

,sid,eid,tid,title,titleType,year,aired
0,3,20,1978052013,"""Space is the Place"", ""Space-Loneliness""",Musical Performance,1977,1978-05-20
1,3,20,1978052014,NaN,Goodnights,1977,1978-05-20
2,3,20,1978052012,The Franken and Davis Show,Show,1977,1978-05-20
3,3,20,1978052011,Bad Conceptual Art,Show,1977,1978-05-20
4,3,20,197805209,More Insects To Worry About,Show,1977,1978-05-20

Then we extract only the relevant sketches

We add a new column for the year

In [54]:
all["year"] = all["aired"].dt.year
all

,sid,eid,tid,title,titleType,year,aired
0,3,20,1978052013,"""Space is the Place"", ""Space-Loneliness""",Musical Performance,1978,1978-05-20
1,3,20,1978052014,NaN,Goodnights,1978,1978-05-20
2,3,20,1978052012,The Franken and Davis Show,Show,1978,1978-05-20
3,3,20,1978052011,Bad Conceptual Art,Show,1978,1978-05-20
4,3,20,197805209,More Insects To Worry About,Show,1978,1978-05-20
5,3,20,197805208,Mr. Mike's Least-Loved Music,Miscellaneous,1978,1978-05-20
6,3,20,197805207,The Olympia Cafe,Sketch,1978,1978-05-20
7,3,20,197805206,NaN,Weekend Update,1978,1978-05-20
8,3,20,197805205,Sodom Chamber of Commerce,Sketch,1978,1978-05-20
9,3,20,197805202,NaN,Monologue,1978,1978-05-20
10,3,20,197805201,Nixon's Book,Cold Opening,1978,1978-05-20
11,2,21,1977051416,NaN,Goodnights,1977,1977-05-14
12,2,21,1977051414,"""Down To Zero""",Musical Performance,1977,1977-05-14
13,2,21,1977051415,Steak House,Sketch,1977,1977-05-14
14,2,21,1977051413,Night Of The Moonies,Sketch,1977,1977-05-14
15,2,21,1977051411,Brides,Film,1977,1977-05-14
16,2,21,1977051410,Baba Wawa At Large,Show,1977,1977-05-14
17,2,21,1977051412,Bad Ballet,Show,1977,1977-05-14
18,2,21,197705148,Black Educational Conference,Commercial,1977,1977-05-14
19,2,21,197705147,NaN,Weekend Update,1977,1977-05-14
20,2,21,197705146,Audience,Miscellaneous,1977,1977-05-14
21,2,21,197705149,Viva Las Vegas II,Sketch,1977,1977-05-14
22,2,21,197705145,Continental Men,Sketch,1977,1977-05-14
23,2,21,197705144,"""Love & Affection""",Musical Performance,1977,1977-05-14
24,2,21,197705142,Video Vixens,Musical Performance,1977,1977-05-14
25,2,21,197705143,Insect,Sketch,1977,1977-05-14
26,2,21,197705141,Boxing,Cold Opening,1977,1977-05-14
27,3,18,1978042215,NaN,Goodnights,1978,1978-04-22
28,3,18,1978042214,Next Week In Review,Show,1978,1978-04-22
29,3,18,1978042213,"""I Don't Know""",Musical Performance,1978,1978-04-22
...,...,...,...,...,...,...,...
11668,11,13,198603222,NaN,Monologue,1986,1986-03-22
11669,11,13,198603221,Backstage,Cold Opening,1986,1986-03-22
11670,11,12,1986031516,NaN,Goodnights,1986,1986-03-15
11671,11,12,1986031515,Tea And Sympathy,Sketch,1986,1986-03-15
11672,11,12,1986031514,"""I Don't Know Why""",Musical Performance,1986,1986-03-15
11673,11,12,1986031513,Business Beat,Show,1986,1986-03-15
11674,11,12,1986031512,NaN,Guest Performance,1986,1986-03-15
11675,11,12,1986031511,"You Can Pick Your Friends, You Can Pick Your N...",Show,1986,1986-03-15
11676,11,12,1986031510,NaN,Weekend Update,1986,1986-03-15
11677,11,12,198603159,Two Jones' Cable Installers,Commercial,1986,1986-03-15
11678,11,12,198603158,"""Hold On""",Musical Performance,1986,1986-03-15
11679,11,12,198603157,Buon Giorno Ireland Buon Giorno,Commercial,1986,1986-03-15
11680,11,12,198603156,Bad Seed,Commercial,1986,1986-03-15
11681,11,12,198603155,You Bet Your Finger,Game Show,1986,1986-03-15
11682,11,12,198603154,Mr. Monopoly,Sketch,1986,1986-03-15
11683,11,12,198603153,Ferdinand Marcos Malacanang Palace Liquidation...,Commercial,1986,1986-03-15
11684,11,12,198603151,Rumors,Cold Opening,1986,1986-03-15
11685,11,12,198603152,NaN,Monologue,1986,1986-03-15
11686,11,6,1985122113,NaN,Goodnights,1985,1985-12-21
11687,11,6,1985122112,Time Machine Trivia Game,Sketch,1985,1985-12-21
11688,11,6,1985122111,"""She Sells Sanctuary""",Musical Performance,1985,1985-12-21
11689,11,6,198512219,NaN,Guest Performance,1985,1985-12-21
11690,11,6,198512217,NaN,Weekend Update,1985,1985-12-21
11691,11,6,198512216,"""Life In A Northern Town""",Musical Performance,1985,1985-12-21
11692,11,6,1985122110,The Big Tree,Sketch,1985,1985-12-21
11693,11,6,198512215,Hildy,Sketch,1985,1985-12-21
11694,11,6,198512214,A Dozen Eggs,Sketch,1985,1985-12-21
11695,11,6,198512212,NaN,Monologue,1985,1985-12-21
11696,11,6,198512213,Critic,Commercial,1985,1985-12-21
11697,11,6,198512211,Rapping Wrapper,Cold Opening,1985,1985-12-21

Then we extract only the relevant sketches

In [55]:
all[all["year"] == 1978]

,sid,eid,tid,title,titleType,year,aired
0,3,20,1978052013,"""Space is the Place"", ""Space-Loneliness""",Musical Performance,1978,1978-05-20
1,3,20,1978052014,NaN,Goodnights,1978,1978-05-20
2,3,20,1978052012,The Franken and Davis Show,Show,1978,1978-05-20
3,3,20,1978052011,Bad Conceptual Art,Show,1978,1978-05-20
4,3,20,197805209,More Insects To Worry About,Show,1978,1978-05-20
5,3,20,197805208,Mr. Mike's Least-Loved Music,Miscellaneous,1978,1978-05-20
6,3,20,197805207,The Olympia Cafe,Sketch,1978,1978-05-20
7,3,20,197805206,NaN,Weekend Update,1978,1978-05-20
8,3,20,197805205,Sodom Chamber of Commerce,Sketch,1978,1978-05-20
9,3,20,197805202,NaN,Monologue,1978,1978-05-20
10,3,20,197805201,Nixon's Book,Cold Opening,1978,1978-05-20
27,3,18,1978042215,NaN,Goodnights,1978,1978-04-22
28,3,18,1978042214,Next Week In Review,Show,1978,1978-04-22
29,3,18,1978042213,"""I Don't Know""",Musical Performance,1978,1978-04-22
30,3,18,1978042211,Troff 'n' Brew,Sketch,1978,1978-04-22
31,3,18,1978042210,A Film by Gary Weis,Film,1978,1978-04-22
32,3,18,197804229,Love Story,Sketch,1978,1978-04-22
33,3,18,197804227,NaN,Weekend Update,1978,1978-04-22
34,3,18,197804228,King Tut,Musical Sketch,1978,1978-04-22
35,3,18,197804223,Hey You!,Commercial,1978,1978-04-22
36,3,18,197804226,Dancing in the Dark,Sketch,1978,1978-04-22
37,3,18,197804221,Rock Concert,Cold Opening,1978,1978-04-22
38,3,18,197804222,NaN,Monologue,1978,1978-04-22
39,3,19,1978051313,NaN,Goodnights,1978,1978-05-13
40,3,19,1978051312,"""I Want To Be Seduced""",Musical Performance,1978,1978-05-13
41,3,19,1978051311,How You Pay For Your Sins,Miscellaneous,1978,1978-05-13
42,3,19,1978051310,"""White Oaxacan Moon""",Musical Performance,1978,1978-05-13
43,3,19,197805138,Pet Peeves,Sketch,1978,1978-05-13
44,3,19,197805139,The David Susskind Show,Show,1978,1978-05-13
45,3,19,197805137,Nick Springs,Sketch,1978,1978-05-13
...,...,...,...,...,...,...,...
2346,3,11,197802188,Baggage Inspection,Sketch,1978,1978-02-18
2347,3,11,197802184,After Love,Sketch,1978,1978-02-18
2348,3,11,197802183,Moth Masher,Commercial,1978,1978-02-18
2349,3,11,197802182,NaN,Monologue,1978,1978-02-18
2350,3,9,1978012115,NaN,Goodnights,1978,1978-01-21
2351,3,9,1978012114,"""White Russia""",Musical Performance,1978,1978-01-21
2352,3,9,1978012113,Audience,Miscellaneous,1978,1978-01-21
2353,3,9,1978012112,A Film by Gary Weis,Film,1978,1978-01-21
2354,3,9,1978012111,What If?,Show,1978,1978-01-21
2355,3,9,1978012110,Family Feud,Game Show,1978,1978-01-21
2356,3,9,197801219,"""Short People"", ""Rider In The Rain""",Musical Performance,1978,1978-01-21
2357,3,9,197801218,NaN,Weekend Update,1978,1978-01-21
2358,3,9,197801216,"""On the Loose with the Blues""",Musical Performance,1978,1978-01-21
2359,3,9,197801217,The Body Floss,Commercial,1978,1978-01-21
2360,3,9,197801214,The Mystery of Bigfoot,Sketch,1978,1978-01-21
2361,3,9,197801213,Swill,Commercial,1978,1978-01-21
2362,3,9,197801212,NaN,Monologue,1978,1978-01-21
2363,3,9,197801211,State Of The Union 1978,Cold Opening,1978,1978-01-21
2364,3,10,1978012813,Attack Of The Atomic Lobsters,Sketch,1978,1978-01-28
2365,3,10,1978012811,"""Give It All Up or Let Me Go""",Musical Performance,1978,1978-01-28
2366,3,10,1978012812,Rhonda & Barbara,Sketch,1978,1978-01-28
2367,3,10,1978012810,Lobster Update,Miscellaneous,1978,1978-01-28
2368,3,10,197801288,Nerd Rock,Sketch,1978,1978-01-28
2369,3,10,197801287,Nick Winters,Sketch,1978,1978-01-28
2370,3,10,197801286,NaN,Weekend Update,1978,1978-01-28
2371,3,10,197801285,"""Runaway""",Musical Performance,1978,1978-01-28
2372,3,10,197801284,X-Police,Sketch,1978,1978-01-28
2373,3,10,197801282,NaN,Monologue,1978,1978-01-28
2374,3,10,197801283,The Olympia Cafe,Sketch,1978,1978-01-28
2375,3,10,197801281,Rock Concert,Cold Opening,1978,1978-01-28

##     for each season, compute the average rating (consider only top 1000 users)

In [56]:
ratings = pd.read_csv('database/snldb/db/snl_rating.csv')
ratings.head()

,sid,eid,1,10,2,3,4,5,6,7,...,Males Aged 45+_avg,Males under 18,Males under 18_avg,Males_avg,Non-US users,Non-US users_avg,Top 1000 voters,Top 1000 voters_avg,US users,US users_avg
0,7,1,0,3,0,0,5,2,10,4,...,7.2,0,NaN,7.1,6,6.4,10,6.4,22,6.8
1,10,1,2,4,0,2,0,4,5,1,...,7.3,0,NaN,6.1,7,5.4,7,6.4,13,6.6
2,6,13,0,3,0,0,1,0,2,9,...,7.8,0,NaN,7.9,5,7.7,9,7.4,17,7.7
3,2,1,0,8,0,2,1,7,8,15,...,7.1,0,NaN,7.2,12,7.4,15,6.7,33,6.9
4,3,20,0,6,0,2,1,3,4,13,...,6.9,0,NaN,7.1,7,7.3,14,7.3,21,6.8

In [60]:
ratings.groupby("sid")["Top 1000 voters"].mean()

sid
1     21.125000
2     11.652174
3     13.500000
4     12.250000
5     10.000000
6     10.846154
7      9.750000
8      9.850000
9      9.052632
10     7.888889
11     8.666667
12     6.850000
13     7.615385
14     7.400000
15     8.750000
16    11.050000
17    10.550000
18    11.650000
19    11.700000
20    10.000000
21     7.850000
22     8.300000
23     9.000000
24     9.526316
25    10.300000
26    11.050000
27    10.050000
28     8.450000
29    11.050000
30    14.750000
31    17.052632
32    18.100000
33    17.666667
34    20.500000
35    27.681818
36    31.272727
37    32.772727
38    30.809524
39    26.571429
40    25.619048
41    25.190476
42    18.769231
Name: Top 1000 voters, dtype: float64

##  For each season, compute the difference between the maximum and the minimum ratings

First we extract the max and min rating for each season. Since we will merge the resulting tables by using the `sid` column, the `merge` is simpler if both dataframes retain the `sid` column (that is, it does not become part of the index).

In [67]:
mins = ratings.groupby("sid", as_index = False)["Top 1000 voters"].min()
mins.head()

   sid  Top 1000 voters
0    1               14
1    2                8
2    3                8
3    4                8
4    5                7

In [68]:
maxs = ratings.groupby("sid", as_index = False)["Top 1000 voters"].max()
maxs.head()

   sid  Top 1000 voters
0    1               39
1    2               15
2    3               17
3    4               18
4    5               14

In [72]:
merged = pd.merge(mins, maxs, on='sid')
merged.head()

   sid  Top 1000 voters_x  Top 1000 voters_y
0    1                 14                 39
1    2                  8                 15
2    3                  8                 17
3    4                  8                 18
4    5                  7                 14

In [73]:
merged["diff"] = merged["Top 1000 voters_y"] - merged["Top 1000 voters_x"]
merged[["sid", "diff"]]

    sid  diff
0     1    25
1     2     7
2     3     9
3     4    10
4     5     7
5     6     7
6     7     6
7     8    10
8     9     6
9    10     7
10   11     6
11   12     7
12   13     6
13   14     5
14   15     4
15   16     5
16   17     9
17   18     8
18   19     6
19   20     7
20   21    10
21   22     7
22   23     9
23   24     7
24   25    10
25   26     8
26   27     9
27   28     5
28   29    11
29   30    11
30   31    14
31   32    14
32   33     6
33   34    19
34   35    16
35   36    11
36   37    17
37   38    20
38   39    11
39   40    11
40   41    15
41   42    14